{% extends 'layout.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block head %}
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />-->
{% endblock %}

{% block body %}
    <div class="'row">
        <div class="col-10 offset-1">
            <h1>{{ model_name}} 列表</h1>
            {% if model == 'contact' %}
            {% elif model_permissions.add %}
                <div class="row">
                    <div class="form-group col">
                      <form class="form-inline my-2 my-lg-0" onsubmit="return serch()">
                        <input class="form-control mr-sm-2" type="search" placeholder="搜尋..." aria-label="Search" id="searchIput" name="keyword">
                        <button class="btn btn-outline-success my-2 my-sm-0">搜尋</button>
                      </form>
                    </div>
                    <div class="form-group col">
                        <a href="/model/{{ model }}/new"><button type="button" class="float-md-right btn btn-outline-primary">新增</button></a>
                    </div>
                </div>
            {% endif %}
            {% render_table table %}
        </div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="delete-modal-title">刪除</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            確定要刪除這筆資料嗎？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            <a href="#" id="delete-modal-href"><button class="btn btn-primary">送出</button></a>
          </div>
        </div>
      </div>
    </div>

    <script>
      function serch(){
        let searchIput = document.querySelector('input#searchIput')
        keyword = searchIput.value.trim();
        if (keyword) {
          parms = window.location.search.replace('?', '').split('&')
          parms.forEach(item => {
            if (item.includes('keyword=')) {
              parms.splice(item, 1);
            }
          });
          parms = parms.join('&');
          if (parms) {
            parms += '&'
          }
          window.location.search = parms + 'keyword=' + keyword;
        } else {
          window.location.search = '';
        }
        return false;
      }

      function delete_check(id){
        $('#delete-modal-href').attr('href', '/model' + '/{{ model }}/' + id + '/delete/')
        $('#delete-modal').modal('show');
      }
    </script>
{% endblock %}